{% extends 'base.html' %}
{% block content %}

<div class="bg-dark p-5 rounded" style="margin-top: 50px;">
    <div class="col-sm-8 mx-auto">
        <h1 class="text-secondary" style="font-family: 'Tangerine', cursive; font-weight: bold ;font-size: 50px;color: white;">Welcome to My pitch app</h1>
        <p style="color: white;font-family: 'Lobster', cursive;">You get to pitche any ideas and there are different categories to choose from</p>
        <p style="color: white;font-family: 'Lobster', cursive;">Get to share your idea in this pitch app</p>
        <p style="color: white;">
            <a href="#" type="button" class="btn btn-outline-info" style="font-family: 'Pacifico', cursive;" > Create Blog</a>
        </p>

    </div>


</div>

{% endblock %}